#rack , #best-word, #longest-word {
font-family: scrabble;
font-size: 50px;

}
/*#rack {
    visibility: hidden;
}*/

.game {
  font-family: score;
  font-size: 50px;
}

@font-face {
    font-family: scrabble;
    src: url(scrabble.ttf);
}

@font-face {
    font-family: score;
    src: url(Bazaronite.ttf);
}
